*{

    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body{
    background-image: url(../images/background.png);
    font-family:  Verdana, Tahoma, sans-serif;
    font-size: 8pt;
}
*{
    margin:0;
    padding: 0;
}
.banner-section{
    height:50px;
    background-image: url(../images/bannerbg.png);
}
.banner-section {
    text-align: center;
}
h1{
    text-align: center;
    font-size: 24px;
    font-family: Tahoma, Verdana,sans-serif;
    text-shadow: 3px 3px #999999;
    margin: 12px auto;
}
.main-review-section{
    border: 4px solid gray;
    display: block;
    border-radius: 20px;
    height: 100%;
    margin: 0px 120px 12px 120px;
}
.critics-heading{
    /* width:550px; */
    background-image:url(../images/rbg.png);
    height:83px;
    border-top-left-radius: 16px;
    /* border-top-right-radius: 16px; */
    overflow: hidden;

}

.critics-heading span{
    position: absolute;
    font-size: 42px;
    margin-top: 16px;
    color: red;
}
.sidebar-right{
    clear: right;
    float: right;
    display: block;
    width: 26%;
    background: #a2b964;
}
.overview-side-image{
    float: right;
}
.overview-side-image img{
    border-top-right-radius: 16px;
}
.review-text{
    display: inline-block;
    width: 36%;
    margin: 12px 12px 12px 12px;;
    font-size: 11px;
}
.review-text .quotes{
    border: 2px solid gray;
    font-weight: bold;
    border-radius: 15px;
    padding: 11px;
    font-size:13px;
    background-color: #e8dc9b;
}